<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <title>Aditi's Portfolio</title>
    <style>
    .main {
        width: 100%
    }

    .navbar-brand {
        color: #000000;
        font-weight: bold;
        font-size: 33px;
        font-family: 'Montserrat', sans-serif
    }

    .list-contain {
        display: inline
    }

    .list {
        font-family: 'Montserrat', sans-serif;
        display: inline;
        border-right: 1px solid;
        padding: 0 2px 0 2px
    }

    .list:last-child {
        border-right: none
    }

    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class = 'navbar navbar-default'>
        <div class = 'container-fluid'>
            <div class = 'navbar-header'>
                <a class = 'navbar-brand' href = '#'>ADITI MISHRA</a>
            </div>
            <ul class = 'list-contain nav navbar-nav navbar-right'>
                <li class = 'list'><a href = '#'>HOME</a></li>
                <li class = 'list'><a href = '#'>PORTFOLIO</a></li>
                <li class = 'list'><a href = '#'>CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class = 'container-fluid'>
        <img class = 'main' src="../public/assets/images/main.jpeg" alt="main-image">
    </div>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-12'>
                
            </div>
        </div>
    </div>
</body>
</html>